export(beeswarm)
export(bxplot)
export(swarmx)
export(swarmy)
export(beePlot)

S3method(beeswarm, default)
S3method(beeswarm, formula)
S3method(bxplot, default)
S3method(bxplot, formula)
S3method(beeplot, default)
S3method(beeplot, formula)
